
{% extends "base.html" %}
{% load static %}
{% block css %}
<style>
.blog-post {
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
    border-radius: 0.5em;

}
.blog-post .blog-img .overlay,
.blog-post .blog-img .post-meta {
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.blog-post .blog-img .overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.blog-post .blog-img .post-meta {
    bottom: 5%;
    right: 5%;
    z-index: 1;
}
.blog-post .blog-img .post-meta .read-more:hover {
    color: #6dc77a !important;
}
.blog-post .content h1,
.blog-post .content h2,
.blog-post .content h3,
.blog-post .content h4,
.blog-post .content h5,
.blog-post .content h6 {
    line-height: 1.2;
}
.blog-post .content .title {
    font-size: 18px;
}
.blog-post .content .title:hover {
    color: #6dc77a !important;
}
.blog-post .content .author .name:hover {
    color: #6dc77a !important;
}
.blog-post:hover {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
}
.blog-post:hover .blog-img .overlay {
    opacity: 0.65;
}
.blog-post:hover .blog-img .post-meta {
    opacity: 1;
}
.blog-post .post-meta .like i,
.profile-post .like i {
    -webkit-text-stroke: 2px #dd2427;
    -webkit-text-fill-color: transparent;
}
.blog-post .post-meta .like:active i,
.blog-post .post-meta .like:focus i,
.profile-post .like:active i,
.profile-post .like:focus i {
    -webkit-text-stroke: 0px #dd2427;
    -webkit-text-fill-color: #dd2427;
}
.avatar.avatar-ex-sm {
    height: 36px;
}
.shadow {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
}
.text-muted {
    color: #8492a6 !important;
}
.para-desc {
    max-width: 600px;
}
.text-muted {
    color: #8492a6 !important;
}
.section-title .title {
    letter-spacing: 0.5px;
    font-size: 30px;
}
/* .post-meta a{
background: #ffffff;

} */

</style>
{% endblock css %}
{% block nav-phone %}
<a href="tel:{{information.phone}}">{{information.phone}}</a>
{% endblock nav-phone %}
{% block wishlist %}{{wish_count}}{% endblock wishlist %}
{% block cart %}{{cart_count}}{% endblock cart %}
{% block body %}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'index' %}">Home</a>
                {% if request.user.is_authenticated %}
                <a class="breadcrumb-item text-dark" href="#">{{request.user.name}}</a>
                {% endif %}
                <span class="breadcrumb-item active">Blogs</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<div class="container mt-100 mt-60">
    <div class="row">
        {% for blog in blogs %}
        <div class="col-lg-4 col-md-6 mt-4 pt-2">
            <div class="blog-post rounded border">
                <div class="blog-img d-block overflow-hidden position-relative">
                    <img src="{{blog.image.url}}" class="img-fluid rounded-top" alt="">
                    <div class="overlay rounded-top bg-dark"></div>
                    <!-- <div class="post-meta">
                        <a href="javascript:void(0)" class="text-light d-block text-right like"><i class="mdi mdi-heart"></i> 33</a>
                        <a href="javascript:void(0)" class="text-light read-more ">Read More <i class="mdi mdi-chevron-right"></i></a>
                    </div> -->
                </div>
                <div class="content p-3">
                    <small class="text-muted p float-right">{{blog.date}}</small>
                    <small><a href="javascript:void(0)" class="text-dark">{{blog.category}}</a></small>
                    <h4 class="mt-2"><a href="{% url 'blog_details' blog.slug %}" class="text-dark title">{{blog.title}}</a></h4>
                    <p class="text-muted mt-2 text-justify">{{blog.description|truncatechars:150}}</p>
                    <!-- <div class="pt-3 mt-3 border-top d-flex">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png"
                            class="img-fluid avatar avatar-ex-sm rounded-pill mr-3 shadow" alt="">
                        <!-- <div class="author mt-2">
                            <h6 class="mb-0"><a href="javascript:void(0)" class="text-dark name">Lisa Marvel</a></h6>
                        </div> -->
                    <!-- </div> -->
                </div>
            </div><!--end blog post-->
        </div><!--end col-->
        {% endfor %}
    </div><!--end row-->
</div>
{% endblock body %}
{% block infos %}
<p class="mb-4">{{information.bio}}</p>
<p class="mb-2"><i class="fa fa-map-marker-alt text-secondary mr-3"></i><a href="https://www.google.com/maps/place/{{information.address}}">{{information.address}}</a></p>
<p class="mb-2"><i class="fa fa-envelope text-secondary mr-3"></i><a href="mailto:{{information.email}}">{{information.email}}</a></p>
<p class="mb-0"><i class="fa fa-phone-alt text-secondary mr-3"></i><a href="tel:{{information.phone}}">{{information.phone}}</a></p>
{% endblock infos %}
{% block fsocial %}
<div class="d-flex">
    <a class="btn btn-primary btn-square mr-2" href="{{information.twitter}}"><i class="fab fa-twitter"></i></a>
    <a class="btn btn-primary btn-square mr-2" href="{{information.facebook}}"><i class="fab fa-facebook-f"></i></a>
    <a class="btn btn-primary btn-square mr-2" href="{{information.linkedin}}"><i class="fab fa-linkedin-in"></i></a>
    <a class="btn btn-primary btn-square" href="{{information.instagram}}"><i class="fab fa-instagram"></i></a>
</div>
{% endblock fsocial %}