{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block nav-phone %}
<a href="tel:{{information.phone}}">{{information.phone}}</a>
{% endblock nav-phone %}
{% block wishlist %}{{wish_count}}{% endblock wishlist %}
{% block cart %}{{cart_count}}{% endblock cart %}
{% block body %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'index' %}">Home</a>
                    <span class="breadcrumb-item active">Contact</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-white pr-3">Contact Us</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                {% if messages %}
                {% for msg in messages %}
                <div class="alert alert-danger text-light"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><span>{{msg}}</span></div>
                {% endfor %}
                {% endif %}
                <div class="contact-form bg-light p-30">
                    {% crispy form %}
                </div>
            </div>
            <div class="col-lg-5 mb-5">
                <div class="cont bg-light p-30 mb-30">
                    <iframe style="width: 100%; height: 250px;"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d60306.496187635035!2d73.042127!3d19.144647!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c18251fdabcd%3A0x511df7c5b46843a1!2sBURAK%20Metering%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1678619419048!5m2!1sen!2sin"
                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="cont bg-light p-30 mb-3">
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-secondary mr-3"></i><a href="https://www.google.com/maps/place/{{information.address}}">{{information.address}}</a></p>
                    <p class="mb-2"><i class="fa fa-envelope text-secondary mr-3"></i>{{information.email}}</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-secondary mr-3"></i>{{information.phone}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

{% endblock body %}
{% block infos %}
<p class="mb-4">{{information.bio}}</p>
<p class="mb-2"><i class="fa fa-map-marker-alt text-secondary mr-3"></i><a href="https://www.google.com/maps/place/{{information.address}}">{{information.address}}</a></p>
<p class="mb-2"><i class="fa fa-envelope text-secondary mr-3"></i><a href="mailto:{{information.email}}">{{information.email}}</a></p>
<p class="mb-0"><i class="fa fa-phone-alt text-secondary mr-3"></i><a href="tel:{{information.phone}}">{{information.phone}}</a></p>
{% endblock infos %}
{% block fsocial %}
<div class="d-flex">
    <a class="btn btn-primary btn-square mr-2" href="{{information.twitter}}"><i class="fab fa-twitter"></i></a>
    <a class="btn btn-primary btn-square mr-2" href="{{information.facebook}}"><i class="fab fa-facebook-f"></i></a>
    <a class="btn btn-primary btn-square mr-2" href="{{information.linkedin}}"><i class="fab fa-linkedin-in"></i></a>
    <a class="btn btn-primary btn-square" href="{{information.instagram}}"><i class="fab fa-instagram"></i></a>
</div>
{% endblock fsocial %}